@import '../../brandColor';
@import '../../modules/form.scss';

.contact__title ***REMOVED*** font-size: 32px; ***REMOVED***
.contact__flex ***REMOVED***
    align-items: center;
    display: flex;
    margin-top: 10px;
***REMOVED***
.contact__input ***REMOVED***
    margin-left: auto;
    margin-right: auto;
    width: 45%;
***REMOVED***
.contact__textarea ***REMOVED***
    width: 95%;
    margin-left: auto;
    margin-right: auto;
***REMOVED***