@charset "UTF-8";
.btn, .create-post-btn, .create-post-input-img__btn {
  border-radius: 5px;
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 3;
  padding: 0 10px;
  width: 100%; }
  .btn:hover, .create-post-btn:hover, .create-post-input-img__btn:hover {
    transition: .2s;
    cursor: pointer; }

.btn_item:hover {
  background-color: #d1d1d1; }

.btn_normal, .create-post-btn, .create-post-input-img__btn {
  background-color: #d1d1d1; }
  .btn_normal:hover, .create-post-btn:hover, .create-post-input-img__btn:hover {
    background-color: #b8b8b8; }

.btn_success {
  background-color: #4cdb8f; }
  .btn_success:hover {
    background-color: #29cb75; }

.btn_attention {
  background-color: #fcd419; }
  .btn_attention:hover {
    background-color: #dfb803; }

.btn_danger {
  background-color: #f9446a;
  color: white; }
  .btn_danger:hover {
    background-color: #f71343; }

.btn_circle, .create-post-btn, .create-post-input-img__btn {
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.form__wapper {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background-color: white;
  border-radius: 16px;
  padding: 30px; }

.form {
  margin: 30px 0;
  background-color: white; }

.form__btn {
  padding: 20px;
  background-color: white;
  margin-top: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 16px;
  transition: .3s; }
  .form__btn:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.create-post-btn {
  background-color: white;
  margin-top: 10px; }

.create-post-btn__media-img {
  width: 25px;
  height: 45px;
  margin-bottom: 5px; }

.create-post-input-img {
  background-size: cover;
  background-position: center center;
  box-sizing: border-box;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
  border-radius: 16px;
  margin: 10px auto 0 auto;
  overflow: hidden;
  height: 200px;
  width: 48%; }

.create-post-display-img-wapper {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 20px; }

.create-post-input-img__btn {
  background-color: rgba(0, 0, 0, 0);
  width: 30px;
  height: 30px;
  position: relative;
  margin: 10px 0 0 10px; }
  .create-post-input-img__btn:hover {
    background-color: rgba(0, 0, 0, 0.5); }

.create-post-input-img__btn__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px; }

/* ---------------create-post-input-img-animのtransition--------------- */
.create-post-input-img-anim-enter-active,
.create-post-input-img-anim-leave-active {
  animation-duration: .5s; }

.create-post-input-img-anim-enter-active {
  animation-name: scaleToBig; }

.create-post-input-img-anim-leave-active {
  animation-name: scaleToSmall; }

@keyframes scaleToBig {
  0% {
    transform: scale(0); }
  20% {
    transform: scale(1.2); }
  30% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
@keyframes scaleToSmall {
  0% {
    transform: scale(1); }
  20% {
    transform: scale(0.1); }
  100% {
    transform: scale(0); } }

/*# sourceMappingURL=createPost.css.map */
