@import '../../modules/button.scss';
@import '../../brandColor';

.bell__btn {
    @extend .btn;
    @extend .btn_normal;
    font-size: 16px;
    margin-left: auto;
    width: 200px;
}
.bell__btn-app {
    @extend .bell__btn;
    background-color: $accent-color-success;
    &:hover { background-color: darken($accent-color-success, 20%); }
}
.bell__btn-disallow {
    @extend .bell__btn;
    background-color: $accent-color-danger;
    &:hover { background-color: darken($accent-color-danger, 20%); }
}
.bell__go-to-profile {
    color: black;
    display: inline-block;
    font-weight: bold;
    &:hover { cursor: pointer; }
}
.bell__not-exist {
    font-size: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


/*
=====================
 スマホ レスポンシブ
=====================
*/
@media screen and (max-width: 414px) {
    .post__flex { display: block; }
    .bell__btn-app,
    .bell__btn-disallow {
        margin: 10px auto 0 auto;
        line-height: 2.5;
        font-size: 14px;
    }
}