@import '../../modules/button.scss';

.communities-tab__title ***REMOVED***
    color: #333;
    display: block;
    font-size: 18px;
    margin: 0 auto;
***REMOVED***
.tabs-wapper ***REMOVED***
    position: sticky;
    top: 80px;
    z-index: 2;
***REMOVED***
.tab ***REMOVED*** &:hover ***REMOVED*** cursor: pointer; ***REMOVED*** ***REMOVED***
.post__font ***REMOVED***
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
***REMOVED***
.communities-page ***REMOVED*** margin-top: 20px; ***REMOVED***
.communities__form-label ***REMOVED***
    margin-top: 10px;
***REMOVED***
.btn_normal ***REMOVED***
    font-size: 16px;
    margin-left: 10px;
***REMOVED***
.communitiest__btn ***REMOVED***
    @extend .btn;
    @extend .btn_normal;
    width: 200px;
    margin-left: auto;
***REMOVED***

/*
=====================
 スマホ レスポンシブ
=====================
*/
@media screen and (max-width: 414px) ***REMOVED***
    .communities-tab__title ***REMOVED*** font-size: 14px; ***REMOVED***
    .communitiest__btn ***REMOVED*** line-height: 2.5; ***REMOVED***
***REMOVED***