@import '../../modules/button.scss';

.communities-tab__title {
    color: #333;
    display: block;
    font-size: 18px;
    margin: 0 auto;
}
.tabs-wapper {
    position: sticky;
    top: 80px;
    z-index: 2;
}
.tab { &:hover { cursor: pointer; } }
.post__font {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.communities-page { margin-top: 20px; }
.communities__form-label {
    margin-top: 10px;
}
.btn_normal {
    font-size: 16px;
    margin-left: 10px;
}
.communitiest__btn {
    @extend .btn;
    @extend .btn_normal;
    width: 200px;
    margin-left: auto;
}

/*
=====================
 スマホ レスポンシブ
=====================
*/
@media screen and (max-width: 414px) {
    .communities-tab__title { font-size: 14px; }
    .communitiest__btn { line-height: 2.5; }
}