@import '../../modules/button.scss';
@import '../createPost/createPost.scss';
@import '../../brandColor';

.community-create-post-wapper ***REMOVED***
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    position: sticky;
    top: 80px;
    margin-bottom: 20px;
    height: 290px;
    overflow-y: auto;
    width: 100%;
    z-index: 1;
***REMOVED***
.community-create-post__title ***REMOVED***
    font-size: 18px;
    user-select: none;
***REMOVED***
.community-create-post-wapper-trigger ***REMOVED***
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    color: $non-colored-color-gray-6;
    padding: 5px;
    position: sticky;
    top: 80px;
    text-align: center;
    margin-bottom: 20px;
    overflow-y: auto;
    width: 100%;
    height: 50px;
    z-index: 1;
***REMOVED***

/*
=====================
 スマホ レスポンシブ
=====================
*/
@media screen and (max-width: 414px) ***REMOVED***
    .communities-tab__title ***REMOVED*** font-size: 14px; ***REMOVED***
    .communitiest__btn ***REMOVED*** line-height: 2.5; ***REMOVED***
    .community-create-post-wapper-trigger ***REMOVED*** display: block; ***REMOVED***
***REMOVED***