@import '../brandColor';

.window {
    background-color: white;
    box-shadow: 5px 5px $non-colored-color-gray-5;
    border-radius: 5px;
    box-sizing: border-box;
    position: fixed;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}
.window__title {
    font-size: 32px;
    font-weight: normal;
    margin-top: 10px;
}
.window__content {
    margin-top: 10px;
    overflow-y: auto;
}
.window__close-btn {
    width: 24px;
    height: 24px;
    &:hover { cursor: pointer; }
}

/* ---------------windowのtransition--------------- */
.window-anim-enter-active,
.window-anim-leave-active { transition: opacity .5s ease-in-out; }

.window-anim-enter-active,
.window-anim-leave-to { opacity: 0; }

.window-anim-enter-to,
.window-anim-leave { opacity: 1; }
