// ベースカラー
$base-color-5: #077368;
$base-color-4: #0BB3A2;
$base-color-3: #0DD9C4;
$base-color-2: #0FF2DB;
$base-color-1: #0FFFE7;

// メインカラー
$main-color: #40E0D0;
$main-bg-color: #eee;
 
// サブカラー
$sub-color: #40DB74;
 
// アクセントカラー
$accent-color-success: #4cdb8f;
$accent-color-attention: #fcd419;
$accent-color-danger: #f9446a;
 
//　無彩色（黒と白はblack,whiteで記述すること）
$non-colored-color-gray-6: #333;
$non-colored-color-gray-5: #797979;
$non-colored-color-gray-4: #a3a3a3;
$non-colored-color-gray-3: #d1d1d1;
$non-colored-color-gray-2: #eee;
$non-colored-color-gray-1: #f9f9f9;