@charset "UTF-8";
.height-small {
  height: 200px; }

.height-between-small-and-middle {
  height: 350px; }

.height-middle {
  height: 500px; }

.height-full {
  height: 100%; }

.width-small {
  width: 200px; }

.width-between-small-and-middle {
  width: 350px; }

.width-middle {
  width: 500px; }

.width-full {
  width: 100%; }

*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0; }

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ }

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0; }

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; }

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none; }

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold; }

dd {
  margin-left: 0; }

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

address {
  font-style: inherit; }

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom; }

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; }

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  -webkit-appearance: checkbox;
  appearance: checkbox; }

[type="radio"] {
  -webkit-appearance: radio;
  appearance: radio; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none; }

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none; }

/**
 * Remove padding
 */
option {
  padding: 0; }

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer; }

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none; }

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0; }

caption {
  text-align: left; }

td,
th {
  vertical-align: top;
  padding: 0; }

th {
  text-align: left;
  font-weight: bold; }

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

.window {
  background-color: white;
  box-shadow: 5px 5px #797979;
  border-radius: 5px;
  box-sizing: border-box;
  position: fixed;
  padding: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; }

.window__title {
  font-size: 32px;
  font-weight: normal;
  margin-top: 10px; }

.window__content {
  margin-top: 10px;
  overflow-y: auto; }

.window__close-btn {
  width: 24px;
  height: 24px; }
  .window__close-btn:hover {
    cursor: pointer; }

/* ---------------windowのtransition--------------- */
.window-anim-enter-active,
.window-anim-leave-active {
  transition: opacity .5s ease-in-out; }

.window-anim-enter-active,
.window-anim-leave-to {
  opacity: 0; }

.window-anim-enter-to,
.window-anim-leave {
  opacity: 1; }

.window_shake-anim {
  animation-duration: .82s;
  animation-name: window_shake; }

@keyframes window_shake {
  10%, 90% {
    transform: translate(calc(-50% - 2px), -50%); }
  20%, 80% {
    transform: translate(calc(-50% + 4px), -50%); }
  30%, 50%, 70% {
    transform: translate(calc(-50% - 8px), -50%); }
  40%, 60% {
    transform: translate(calc(-50% + 8px), -50%); } }
.btn, .post__btn, .post__btn-display-responce, .menu__item, .other__item {
  border-radius: 5px;
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 3;
  padding: 0 10px;
  width: 100%; }
  .btn:hover, .post__btn:hover, .post__btn-display-responce:hover, .menu__item:hover, .other__item:hover {
    transition: .2s;
    cursor: pointer; }

.btn_item:hover, .menu__item:hover, .other__item:hover {
  background-color: #d1d1d1; }

.btn_normal, .post__btn, .post__btn-display-responce {
  background-color: #d1d1d1; }
  .btn_normal:hover, .post__btn:hover, .post__btn-display-responce:hover {
    background-color: #b8b8b8; }

.btn_success {
  background-color: #4cdb8f; }
  .btn_success:hover {
    background-color: #29cb75; }

.btn_attention {
  background-color: #fcd419; }
  .btn_attention:hover {
    background-color: #dfb803; }

.btn_danger {
  background-color: #f9446a;
  color: white; }
  .btn_danger:hover {
    background-color: #f71343; }

.btn_circle, .post__btn {
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.alert {
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  width: 500px;
  padding: 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3; }

.alert_success {
  background-color: #4cdb8f;
  box-shadow: 5px 5px #187644; }

.alert_attention {
  background-color: #fcd419;
  box-shadow: 5px 5px #7a6502; }

.alert_danger {
  background-color: #f9446a;
  box-shadow: 5px 5px #9f0525; }

/* ---------------alertsのtransition--------------- */
.alerts-anim-enter-active,
.alerts-anim-leave-active {
  transition: opacity .5s ease-in-out, transform .5s ease; }

.alerts-anim-enter-active,
.alerts-anim-leave-to {
  opacity: 0;
  transform: translateX(100px); }

.alerts-anim-enter-to,
.alerts-anim-leave {
  opacity: 1;
  transform: translateX(0); }

/* ---------------スマホ・タブレット用のalert--------------- */
@media screen and (max-width: 1100px) {
  .alert {
    border-radius: 0;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto; }

  .alert_success {
    box-shadow: 0 5px #187644; }

  .alert_attention {
    box-shadow: 0 5px #7a6502; }

  .alert_danger {
    box-shadow: 0 5px #9f0525; }

  .alerts-anim-enter-active,
  .alerts-anim-leave-to {
    transform: translate(0, -100px); }

  .alerts-anim-enter-to,
  .alerts-anim-leave {
    transform: translate(0, 0); } }
.form {
  border: 2px solid #0BB3A2;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin-top: 10px; }

.form-label {
  font-size: 16px; }

.form-label_danger {
  color: red;
  font-weight: bold; }

.form_dont-resize {
  resize: none; }

.form_btn {
  text-align: center;
  width: 100px; }
  .form_btn:disabled {
    background-color: #077368;
    border: 2px solid #797979;
    color: white; }
    .form_btn:disabled:hover {
      cursor: not-allowed; }
  .form_btn:hover {
    cursor: pointer; }

.btn, .post__btn, .post__btn-display-responce, .menu__item, .other__item {
  border-radius: 5px;
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 3;
  padding: 0 10px;
  width: 100%; }
  .btn:hover, .post__btn:hover, .post__btn-display-responce:hover, .menu__item:hover, .other__item:hover {
    transition: .2s;
    cursor: pointer; }

.btn_item:hover, .menu__item:hover, .other__item:hover {
  background-color: #d1d1d1; }

.btn_normal, .post__btn, .post__btn-display-responce {
  background-color: #d1d1d1; }
  .btn_normal:hover, .post__btn:hover, .post__btn-display-responce:hover {
    background-color: #b8b8b8; }

.btn_success {
  background-color: #4cdb8f; }
  .btn_success:hover {
    background-color: #29cb75; }

.btn_attention {
  background-color: #fcd419; }
  .btn_attention:hover {
    background-color: #dfb803; }

.btn_danger {
  background-color: #f9446a;
  color: white; }
  .btn_danger:hover {
    background-color: #f71343; }

.btn_circle, .post__btn {
  border-radius: 50%;
  width: 50px;
  height: 50px; }

.post {
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 5px #797979;
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
  padding: 15px; }

.post__flex {
  align-items: center;
  display: flex; }

.post__font, .post__status, .post__name {
  color: #797979;
  margin: 5px 0 0 5px;
  overflow-wrap: break-word; }

.post__status, .post__name {
  color: black;
  margin-right: 5px; }

.post__name {
  font-weight: bold; }

.post__btn {
  background-color: transparent;
  position: relative;
  margin-top: 10px;
  width: 30px;
  height: 30px; }

.post__btn__img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px; }

.post__btn-display-responce {
  font-size: 16px;
  line-height: 2;
  padding: 2px 10px;
  margin: 10px 0 0 5px;
  width: auto; }

/* ---------------tabの仕様・制約--------------- */
.tabs-wapper, .header__tab-wapper {
  align-items: center;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  display: flex; }
  .tabs-wapper.tab_circle, .header__tab-wapper {
    border-radius: 16px; }

.tab {
  align-items: center;
  display: flex;
  position: relative;
  transition: .5s;
  width: 100%;
  height: 75px; }
  .tab:hover {
    background-color: #d1d1d1; }
    .tab:hover.tab_circle, .tab.header__tab-wapper:hover {
      border-radius: 16px; }

.tab_selecting::after {
  background-color: #077368;
  bottom: 0;
  border-radius: 16px;
  content: ' ';
  height: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  width: 90%; }

.tab__img {
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%; }

.tab__img-icon {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px; }

body {
  background-color: #eee;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif; }

/*
======================
        header      
======================
*/
#header {
  align-items: center;
  background-color: white;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  position: sticky;
  top: 0;
  height: 75px;
  width: 100%;
  z-index: 1; }

.header__icon {
  margin-left: 20px;
  width: 60px;
  height: 60px; }

.header__icon-wapper,
.header__other {
  width: 25vw; }

.header__tab-wapper {
  width: 50vw;
  margin: 0 auto; }

/*
=====================
        body      
=====================
*/
#container {
  display: flex;
  padding-top: 50px; }

#main {
  width: 50vw; }

.menu, .other {
  width: 25vw;
  position: sticky;
  top: 125px;
  height: 500px; }

.menu__items-wapper {
  box-sizing: border-box;
  padding: 0 20px; }

.menu__item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.menu__item-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px; }

/*
=====================
        other      
=====================
*/
.other__item-wapper {
  padding: 0 20px; }

.other__item {
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }

.other__item-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px; }

.pop-up-discription {
  background-color: white;
  border-radius: 16px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  padding: 10px;
  bottom: -50%;
  left: 50%;
  width: 150px;
  transition-delay: .5s !important;
  transform: translateX(-50%);
  height: 50%;
  z-index: 2; }
  .pop-up-discription::after {
    position: absolute;
    content: ' ';
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    top: -25%;
    left: 50%;
    transform: translateX(-50%); }

.pop-up-discription__content {
  color: #333;
  text-align: center; }

/* ---------------スクロールバーのデザイン--------------- */
::-webkit-scrollbar {
  width: 10px;
  background-color: white; }

::-webkit-scrollbar-track {
  border-radius: 5px; }

::-webkit-scrollbar-thumb {
  background-color: #077368;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); }

.dark-background {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2; }

/* ---------------dark-background-animのtransition--------------- */
.dark-background-anim-enter-active,
.dark-background-anim-leave-active {
  transition: opacity .5s ease-in-out; }

.dark-background-anim-enter-active,
.dark-background-anim-leave-to {
  opacity: 0; }

.dark-background-anim-enter-to,
.dark-background-anim-leave {
  opacity: 1; }

/* ---------------router-view-animのtransition--------------- */
.router-view-anim-enter-active,
.router-view-anim-leave-active {
  transition: opacity .5s ease-in-out, transform .5s ease; }

.router-view-anim-enter-active,
.router-view-anim-leave-to {
  opacity: 0; }

.router-view-anim-enter-active {
  transform: translateY(-100px); }

.router-view-anim-leave-to {
  transform: translateY(100px); }

.router-view-anim-enter-to,
.router-view-anim-leave {
  opacity: 1;
  transition-delay: .5s;
  transform: translateY(0); }

/* ---------------pop-up-discription-animのtransition--------------- */
.pop-up-discription-anim-enter-active,
.pop-up-discription-anim-leave-active {
  transition: opacity .1s ease-in-out; }

.pop-up-discription-anim-enter-active,
.pop-up-discription-anim-leave-to {
  opacity: 0; }

.pop-up-discription-anim-enter-to,
.pop-up-discription-anim-leave {
  opacity: 1; }

/*# sourceMappingURL=base.css.map */
