@charset "UTF-8";
.height-small ***REMOVED***
  height: 200px; ***REMOVED***

.height-between-small-and-middle ***REMOVED***
  height: 350px; ***REMOVED***

.height-middle ***REMOVED***
  height: 500px; ***REMOVED***

.height-full ***REMOVED***
  height: 100%; ***REMOVED***

.width-small ***REMOVED***
  width: 200px; ***REMOVED***

.width-between-small-and-middle ***REMOVED***
  width: 350px; ***REMOVED***

.width-middle ***REMOVED***
  width: 500px; ***REMOVED***

.width-full ***REMOVED***
  width: 100%; ***REMOVED***

*,
::before,
::after ***REMOVED***
  box-sizing: border-box;
  border-style: solid;
  border-width: 0; ***REMOVED***

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html ***REMOVED***
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/ ***REMOVED***

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body ***REMOVED***
  margin: 0; ***REMOVED***

/**
 * Render the `main` element consistently in IE.
 */
main ***REMOVED***
  display: block; ***REMOVED***

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl ***REMOVED***
  margin: 0; ***REMOVED***

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 ***REMOVED***
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0; ***REMOVED***

/* Lists (enumeration) */
/* ============================================ */
ul,
ol ***REMOVED***
  margin: 0;
  padding: 0;
  list-style: none; ***REMOVED***

/* Lists (definition) */
/* ============================================ */
dt ***REMOVED***
  font-weight: bold; ***REMOVED***

dd ***REMOVED***
  margin-left: 0; ***REMOVED***

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr ***REMOVED***
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit; ***REMOVED***

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre ***REMOVED***
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ ***REMOVED***

address ***REMOVED***
  font-style: inherit; ***REMOVED***

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a ***REMOVED***
  background-color: transparent;
  text-decoration: none;
  color: inherit; ***REMOVED***

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] ***REMOVED***
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ ***REMOVED***

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong ***REMOVED***
  font-weight: bolder; ***REMOVED***

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp ***REMOVED***
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */ ***REMOVED***

/**
 * Add the correct font size in all browsers.
 */
small ***REMOVED***
  font-size: 80%; ***REMOVED***

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup ***REMOVED***
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; ***REMOVED***

sub ***REMOVED***
  bottom: -0.25em; ***REMOVED***

sup ***REMOVED***
  top: -0.5em; ***REMOVED***

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe ***REMOVED***
  vertical-align: bottom; ***REMOVED***

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea ***REMOVED***
  -webkit-appearance: none;
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit; ***REMOVED***

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] ***REMOVED***
  -webkit-appearance: checkbox;
  appearance: checkbox; ***REMOVED***

[type="radio"] ***REMOVED***
  -webkit-appearance: radio;
  appearance: radio; ***REMOVED***

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input ***REMOVED***
  /* 1 */
  overflow: visible; ***REMOVED***

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select ***REMOVED***
  /* 1 */
  text-transform: none; ***REMOVED***

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] ***REMOVED***
  cursor: pointer;
  -webkit-appearance: none;
  appearance: none; ***REMOVED***

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] ***REMOVED***
  cursor: default; ***REMOVED***

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner ***REMOVED***
  border-style: none;
  padding: 0; ***REMOVED***

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring ***REMOVED***
  outline: 1px dotted ButtonText; ***REMOVED***

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand ***REMOVED***
  display: none; ***REMOVED***

/**
 * Remove padding
 */
option ***REMOVED***
  padding: 0; ***REMOVED***

/**
 * Reset to invisible
 */
fieldset ***REMOVED***
  margin: 0;
  padding: 0;
  min-width: 0; ***REMOVED***

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend ***REMOVED***
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ ***REMOVED***

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress ***REMOVED***
  vertical-align: baseline; ***REMOVED***

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea ***REMOVED***
  overflow: auto; ***REMOVED***

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button ***REMOVED***
  height: auto; ***REMOVED***

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] ***REMOVED***
  outline-offset: -2px;
  /* 1 */ ***REMOVED***

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration ***REMOVED***
  -webkit-appearance: none; ***REMOVED***

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button ***REMOVED***
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ ***REMOVED***

/**
 * Clickable labels
 */
label[for] ***REMOVED***
  cursor: pointer; ***REMOVED***

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details ***REMOVED***
  display: block; ***REMOVED***

/*
 * Add the correct display in all browsers.
 */
summary ***REMOVED***
  display: list-item; ***REMOVED***

/*
 * Remove outline for editable content.
 */
[contenteditable] ***REMOVED***
  outline: none; ***REMOVED***

/* Table */
/* ============================================ */
table ***REMOVED***
  border-collapse: collapse;
  border-spacing: 0; ***REMOVED***

caption ***REMOVED***
  text-align: left; ***REMOVED***

td,
th ***REMOVED***
  vertical-align: top;
  padding: 0; ***REMOVED***

th ***REMOVED***
  text-align: left;
  font-weight: bold; ***REMOVED***

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template ***REMOVED***
  display: none; ***REMOVED***

/**
 * Add the correct display in IE 10.
 */
[hidden] ***REMOVED***
  display: none; ***REMOVED***

.window ***REMOVED***
  background-color: white;
  box-shadow: 5px 5px #797979;
  border-radius: 5px;
  box-sizing: border-box;
  position: fixed;
  padding: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; ***REMOVED***

.window__title ***REMOVED***
  font-size: 32px;
  font-weight: normal;
  margin-top: 10px; ***REMOVED***

.window__content ***REMOVED***
  margin-top: 10px;
  overflow-y: auto; ***REMOVED***

.window__close-btn ***REMOVED***
  width: 24px;
  height: 24px; ***REMOVED***
  .window__close-btn:hover ***REMOVED***
    cursor: pointer; ***REMOVED***

/* ---------------windowのtransition--------------- */
.window-anim-enter-active,
.window-anim-leave-active ***REMOVED***
  transition: opacity .5s ease-in-out; ***REMOVED***

.window-anim-enter-active,
.window-anim-leave-to ***REMOVED***
  opacity: 0; ***REMOVED***

.window-anim-enter-to,
.window-anim-leave ***REMOVED***
  opacity: 1; ***REMOVED***

.window_shake-anim ***REMOVED***
  animation-duration: .82s;
  animation-name: window_shake; ***REMOVED***

@keyframes window_shake ***REMOVED***
  10%, 90% ***REMOVED***
    transform: translate(calc(-50% - 2px), -50%); ***REMOVED***
  20%, 80% ***REMOVED***
    transform: translate(calc(-50% + 4px), -50%); ***REMOVED***
  30%, 50%, 70% ***REMOVED***
    transform: translate(calc(-50% - 8px), -50%); ***REMOVED***
  40%, 60% ***REMOVED***
    transform: translate(calc(-50% + 8px), -50%); ***REMOVED*** ***REMOVED***
.btn, .post__btn, .post__btn-display-responce, .menu__item, .other__item ***REMOVED***
  border-radius: 5px;
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 3;
  padding: 0 10px;
  width: 100%; ***REMOVED***
  .btn:hover, .post__btn:hover, .post__btn-display-responce:hover, .menu__item:hover, .other__item:hover ***REMOVED***
    transition: .2s;
    cursor: pointer; ***REMOVED***

.btn_item:hover, .menu__item:hover, .other__item:hover ***REMOVED***
  background-color: #d1d1d1; ***REMOVED***

.btn_normal, .post__btn, .post__btn-display-responce ***REMOVED***
  background-color: #d1d1d1; ***REMOVED***
  .btn_normal:hover, .post__btn:hover, .post__btn-display-responce:hover ***REMOVED***
    background-color: #b8b8b8; ***REMOVED***

.btn_success ***REMOVED***
  background-color: #4cdb8f; ***REMOVED***
  .btn_success:hover ***REMOVED***
    background-color: #29cb75; ***REMOVED***

.btn_attention ***REMOVED***
  background-color: #fcd419; ***REMOVED***
  .btn_attention:hover ***REMOVED***
    background-color: #dfb803; ***REMOVED***

.btn_danger ***REMOVED***
  background-color: #f9446a;
  color: white; ***REMOVED***
  .btn_danger:hover ***REMOVED***
    background-color: #f71343; ***REMOVED***

.btn_circle, .post__btn ***REMOVED***
  border-radius: 50%;
  width: 50px;
  height: 50px; ***REMOVED***

.alert ***REMOVED***
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  width: 500px;
  padding: 15px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 3; ***REMOVED***

.alert_success ***REMOVED***
  background-color: #4cdb8f;
  box-shadow: 5px 5px #187644; ***REMOVED***

.alert_attention ***REMOVED***
  background-color: #fcd419;
  box-shadow: 5px 5px #7a6502; ***REMOVED***

.alert_danger ***REMOVED***
  background-color: #f9446a;
  box-shadow: 5px 5px #9f0525; ***REMOVED***

/* ---------------alertsのtransition--------------- */
.alerts-anim-enter-active,
.alerts-anim-leave-active ***REMOVED***
  transition: opacity .5s ease-in-out, transform .5s ease; ***REMOVED***

.alerts-anim-enter-active,
.alerts-anim-leave-to ***REMOVED***
  opacity: 0;
  transform: translateX(100px); ***REMOVED***

.alerts-anim-enter-to,
.alerts-anim-leave ***REMOVED***
  opacity: 1;
  transform: translateX(0); ***REMOVED***

/* ---------------スマホ・タブレット用のalert--------------- */
@media screen and (max-width: 1100px) ***REMOVED***
  .alert ***REMOVED***
    border-radius: 0;
    width: 100vw;
    top: 0;
    left: 0;
    bottom: auto;
    right: auto; ***REMOVED***

  .alert_success ***REMOVED***
    box-shadow: 0 5px #187644; ***REMOVED***

  .alert_attention ***REMOVED***
    box-shadow: 0 5px #7a6502; ***REMOVED***

  .alert_danger ***REMOVED***
    box-shadow: 0 5px #9f0525; ***REMOVED***

  .alerts-anim-enter-active,
  .alerts-anim-leave-to ***REMOVED***
    transform: translate(0, -100px); ***REMOVED***

  .alerts-anim-enter-to,
  .alerts-anim-leave ***REMOVED***
    transform: translate(0, 0); ***REMOVED*** ***REMOVED***
.form ***REMOVED***
  border: 2px solid #0BB3A2;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
  font-size: 16px;
  width: 100%;
  padding: 10px;
  margin-top: 10px; ***REMOVED***

.form-label ***REMOVED***
  font-size: 16px; ***REMOVED***

.form-label_danger ***REMOVED***
  color: red;
  font-weight: bold; ***REMOVED***

.form_dont-resize ***REMOVED***
  resize: none; ***REMOVED***

.form_btn ***REMOVED***
  text-align: center;
  width: 100px; ***REMOVED***
  .form_btn:disabled ***REMOVED***
    background-color: #077368;
    border: 2px solid #797979;
    color: white; ***REMOVED***
    .form_btn:disabled:hover ***REMOVED***
      cursor: not-allowed; ***REMOVED***
  .form_btn:hover ***REMOVED***
    cursor: pointer; ***REMOVED***

.btn, .post__btn, .post__btn-display-responce, .menu__item, .other__item ***REMOVED***
  border-radius: 5px;
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 3;
  padding: 0 10px;
  width: 100%; ***REMOVED***
  .btn:hover, .post__btn:hover, .post__btn-display-responce:hover, .menu__item:hover, .other__item:hover ***REMOVED***
    transition: .2s;
    cursor: pointer; ***REMOVED***

.btn_item:hover, .menu__item:hover, .other__item:hover ***REMOVED***
  background-color: #d1d1d1; ***REMOVED***

.btn_normal, .post__btn, .post__btn-display-responce ***REMOVED***
  background-color: #d1d1d1; ***REMOVED***
  .btn_normal:hover, .post__btn:hover, .post__btn-display-responce:hover ***REMOVED***
    background-color: #b8b8b8; ***REMOVED***

.btn_success ***REMOVED***
  background-color: #4cdb8f; ***REMOVED***
  .btn_success:hover ***REMOVED***
    background-color: #29cb75; ***REMOVED***

.btn_attention ***REMOVED***
  background-color: #fcd419; ***REMOVED***
  .btn_attention:hover ***REMOVED***
    background-color: #dfb803; ***REMOVED***

.btn_danger ***REMOVED***
  background-color: #f9446a;
  color: white; ***REMOVED***
  .btn_danger:hover ***REMOVED***
    background-color: #f71343; ***REMOVED***

.btn_circle, .post__btn ***REMOVED***
  border-radius: 50%;
  width: 50px;
  height: 50px; ***REMOVED***

.post ***REMOVED***
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 5px #797979;
  width: 100%;
  min-height: 50px;
  margin-bottom: 10px;
  padding: 15px; ***REMOVED***

.post__flex ***REMOVED***
  align-items: center;
  display: flex; ***REMOVED***

.post__font, .post__status, .post__name ***REMOVED***
  color: #797979;
  margin: 5px 0 0 5px;
  overflow-wrap: break-word; ***REMOVED***

.post__status, .post__name ***REMOVED***
  color: black;
  margin-right: 5px; ***REMOVED***

.post__name ***REMOVED***
  font-weight: bold; ***REMOVED***

.post__btn ***REMOVED***
  background-color: transparent;
  position: relative;
  margin-top: 10px;
  width: 30px;
  height: 30px; ***REMOVED***

.post__btn__img ***REMOVED***
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 16px;
  height: 16px; ***REMOVED***

.post__btn-display-responce ***REMOVED***
  font-size: 16px;
  line-height: 2;
  padding: 2px 10px;
  margin: 10px 0 0 5px;
  width: auto; ***REMOVED***

/* ---------------tabの仕様・制約--------------- */
.tabs-wapper, .header__tab-wapper ***REMOVED***
  align-items: center;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  display: flex; ***REMOVED***
  .tabs-wapper.tab_circle, .header__tab-wapper ***REMOVED***
    border-radius: 16px; ***REMOVED***

.tab ***REMOVED***
  align-items: center;
  display: flex;
  position: relative;
  transition: .5s;
  width: 100%;
  height: 75px; ***REMOVED***
  .tab:hover ***REMOVED***
    background-color: #d1d1d1; ***REMOVED***
    .tab:hover.tab_circle, .tab.header__tab-wapper:hover ***REMOVED***
      border-radius: 16px; ***REMOVED***

.tab_selecting::after ***REMOVED***
  background-color: #077368;
  bottom: 0;
  border-radius: 16px;
  content: ' ';
  height: 5px;
  left: 50%;
  transform: translate(-50%, 0);
  position: absolute;
  width: 90%; ***REMOVED***

.tab__img ***REMOVED***
  align-items: center;
  display: flex;
  width: 100%;
  height: 100%; ***REMOVED***

.tab__img-icon ***REMOVED***
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px; ***REMOVED***

body ***REMOVED***
  background-color: #eee;
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif; ***REMOVED***

/*
======================
        header      
======================
*/
#header ***REMOVED***
  align-items: center;
  background-color: white;
  box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  position: sticky;
  top: 0;
  height: 75px;
  width: 100%;
  z-index: 1; ***REMOVED***

.header__icon ***REMOVED***
  margin-left: 20px;
  width: 60px;
  height: 60px; ***REMOVED***

.header__icon-wapper,
.header__other ***REMOVED***
  width: 25vw; ***REMOVED***

.header__tab-wapper ***REMOVED***
  width: 50vw;
  margin: 0 auto; ***REMOVED***

/*
=====================
        body      
=====================
*/
#container ***REMOVED***
  display: flex;
  padding-top: 50px; ***REMOVED***

#main ***REMOVED***
  width: 50vw; ***REMOVED***

.menu, .other ***REMOVED***
  width: 25vw;
  position: sticky;
  top: 125px;
  height: 500px; ***REMOVED***

.menu__items-wapper ***REMOVED***
  box-sizing: border-box;
  padding: 0 20px; ***REMOVED***

.menu__item ***REMOVED***
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; ***REMOVED***

.menu__item-icon ***REMOVED***
  width: 20px;
  height: 20px;
  margin-right: 10px; ***REMOVED***

/*
=====================
        other      
=====================
*/
.other__item-wapper ***REMOVED***
  padding: 0 20px; ***REMOVED***

.other__item ***REMOVED***
  align-items: center;
  display: flex;
  margin-bottom: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; ***REMOVED***

.other__item-icon ***REMOVED***
  margin-right: 10px;
  width: 20px;
  height: 20px; ***REMOVED***

.pop-up-discription ***REMOVED***
  background-color: white;
  border-radius: 16px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  position: absolute;
  padding: 10px;
  bottom: -50%;
  left: 50%;
  width: 150px;
  transition-delay: .5s !important;
  transform: translateX(-50%);
  height: 50%;
  z-index: 2; ***REMOVED***
  .pop-up-discription::after ***REMOVED***
    position: absolute;
    content: ' ';
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
    border-left: 10px solid transparent;
    top: -25%;
    left: 50%;
    transform: translateX(-50%); ***REMOVED***

.pop-up-discription__content ***REMOVED***
  color: #333;
  text-align: center; ***REMOVED***

/* ---------------スクロールバーのデザイン--------------- */
::-webkit-scrollbar ***REMOVED***
  width: 10px;
  background-color: white; ***REMOVED***

::-webkit-scrollbar-track ***REMOVED***
  border-radius: 5px; ***REMOVED***

::-webkit-scrollbar-thumb ***REMOVED***
  background-color: #077368;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5); ***REMOVED***

.dark-background ***REMOVED***
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 2; ***REMOVED***

/* ---------------dark-background-animのtransition--------------- */
.dark-background-anim-enter-active,
.dark-background-anim-leave-active ***REMOVED***
  transition: opacity .5s ease-in-out; ***REMOVED***

.dark-background-anim-enter-active,
.dark-background-anim-leave-to ***REMOVED***
  opacity: 0; ***REMOVED***

.dark-background-anim-enter-to,
.dark-background-anim-leave ***REMOVED***
  opacity: 1; ***REMOVED***

/* ---------------router-view-animのtransition--------------- */
.router-view-anim-enter-active,
.router-view-anim-leave-active ***REMOVED***
  transition: opacity .5s ease-in-out, transform .5s ease; ***REMOVED***

.router-view-anim-enter-active,
.router-view-anim-leave-to ***REMOVED***
  opacity: 0; ***REMOVED***

.router-view-anim-enter-active ***REMOVED***
  transform: translateY(-100px); ***REMOVED***

.router-view-anim-leave-to ***REMOVED***
  transform: translateY(100px); ***REMOVED***

.router-view-anim-enter-to,
.router-view-anim-leave ***REMOVED***
  opacity: 1;
  transition-delay: .5s;
  transform: translateY(0); ***REMOVED***

/* ---------------pop-up-discription-animのtransition--------------- */
.pop-up-discription-anim-enter-active,
.pop-up-discription-anim-leave-active ***REMOVED***
  transition: opacity .1s ease-in-out; ***REMOVED***

.pop-up-discription-anim-enter-active,
.pop-up-discription-anim-leave-to ***REMOVED***
  opacity: 0; ***REMOVED***

.pop-up-discription-anim-enter-to,
.pop-up-discription-anim-leave ***REMOVED***
  opacity: 1; ***REMOVED***

/*# sourceMappingURL=base.css.map */
