@import 'brandColor';
@import 'reset.scss';
@import 'modules/window.scss';
@import 'modules/alert.scss';

body { font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif; }
.dark-background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 5;
}
.dark-background-anim-enter-active,
.dark-background-anim-leave-active { transition: opacity .5s ease-in-out; }

.dark-background-anim-enter-active,
.dark-background-anim-leave-to { opacity: 0; }

.dark-background-anim-enter-to,
.dark-background-anim-leave { opacity: 1; }
