@import 'brandColor';
@import 'cosmetic.scss';
@import 'reset.scss';
@import 'modules/window.scss';
@import 'modules/button.scss';
@import 'modules/alert.scss';
@import 'modules/form.scss';
@import 'modules/tab.scss';

body {
    background-color: $non-colored-color-gray-2;
    font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

/*
======================
        header      
======================
*/
#header {
    background-color: white;
    box-shadow: 5px 0 5px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    height: 75px;
    width: 100vw;
    z-index: 1;
}
.header__icon {
    margin-left: 20px;
    width: 60px;
    height: 60px;
}
.header__tab-wapper {
    @extend .tabs-wapper;
    @extend .tab_circle;
    width: 50vw;
    margin: 0 auto;
}

/*
=====================
        body      
=====================
*/
#container {
    display: flex;
    padding-top: 50px;
}
#main { width: 50vw; }
.menu, .other { width: 25vw; }
.menu__items-wapper {
    box-sizing: border-box;
    padding: 0 20px;
}
.menu__item {
    @extend .btn;
    @extend .btn_item;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menu__item-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/*
=====================
        other      
=====================
*/
.other__item-wapper { padding: 0 20px; }
.other__item {
    @extend .btn;
    @extend .btn_item;
    align-items: center;
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.other__item-icon {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}
.dark-background {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1;
}
/* ---------------dark-background-animのtransition--------------- */
.dark-background-anim-enter-active,
.dark-background-anim-leave-active { transition: opacity .5s ease-in-out; }

.dark-background-anim-enter-active,
.dark-background-anim-leave-to { opacity: 0; }

.dark-background-anim-enter-to,
.dark-background-anim-leave { opacity: 1; }

/* ---------------router-view-animのtransition--------------- */
.router-view-anim-enter-active,
.router-view-anim-leave-active { transition: opacity .5s ease-in-out, transform .5s ease; }

.router-view-anim-enter-active,
.router-view-anim-leave-to {
    opacity: 0;
    transform: translate(0, 100px);
}

.router-view-anim-enter-to,
.router-view-anim-leave {
    opacity: 1;
    transform: translate(0, 0);
}