.height-small   { height: 200px; }
.height-between-small-and-middle   { height: 350px; }
.height-middle  { height: 500px; }
.height-full    { height: 100%; }

.width-small    { width: 200px; }
.width-between-small-and-middle   { width: 350px; }
.width-middle   { width: 500px; }
.width-full     { width: 100%; }
