/* ---------------height--------------- */
.height-small   { height: 200px; }
.height-between-small-and-middle   { height: 350px; }
.height-middle  { height: 500px; }
.height-full    { height: 100%; }

/* ---------------width--------------- */
.width-small    { width: 200px; }
.width-between-small-and-middle   { width: 350px; }
.width-middle   { width: 500px; }
.width-full     { width: 100%; }

/* ---------------margin-left--------------- */
.m-l-1 { margin-left: 10px; }

/* ---------------margin-top--------------- */
.m-t-1 { margin-top: 10px; }
.m-t-2 { margin-top: 20px; }
.m-t-3 { margin-top: 30px; }

/* ---------------margin真ん中--------------- */
.m-c { margin: 0 auto !important; }

/* ---------------text-align--------------- */
.t-c { text-align: center; }