@import '../../brandColor';
@import '../../modules/button.scss';

.profile__flex ***REMOVED***
    align-items: center;
    display: flex;
***REMOVED***
.profile__font ***REMOVED***
    color: $non-colored-color-gray-5;
    margin-top: 5px;
***REMOVED***
.profile__name ***REMOVED***
    font-size: 24px;
    font-weight: bold;
***REMOVED***
.profile__user-name ***REMOVED*** @extend .profile__font; ***REMOVED***
.profile__btn ***REMOVED***
    @extend .btn;
    @extend .btn_normal;
    font-size: 16px;
    margin-left: auto;
    width: 200px;
    line-height: 2.5;
***REMOVED***
.profile__content ***REMOVED***
    @extend .profile__font;
    margin-top: 10px;
***REMOVED***
.profile__posts-wapper ***REMOVED*** margin-top: 20px; ***REMOVED***
.profile__icon-wapper ***REMOVED***
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 20px;
***REMOVED***
.profile__icon-img ***REMOVED***
    border-radius: 50%;
    box-shadow:  5px 5px 10px #5f5f5f,
    -5px -5px 10px #ffffff;
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
***REMOVED***
.profile__icon-change ***REMOVED***
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    position: absolute;
    top: 0;
    transition: .3s;
    left: 0;
    opacity: 0;
    width: 100px;
    height: 100px;
    &:hover ***REMOVED***
        opacity: 1;
        cursor: pointer;
    ***REMOVED***
***REMOVED***
.profile__icon-change__text ***REMOVED***
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    left: 50%;
***REMOVED***