@import '../../brandColor';
@import '../../modules/button.scss';

.profile__flex,
.profile__other__flex {
    align-items: center;
    display: flex;
}
.profile__font {
    color: $non-colored-color-gray-5;
    margin-top: 5px;
}
.profile__name {
    font-size: 24px;
    font-weight: bold;
}
.profile__user-name { @extend .profile__font; }
.profile__btn {
    @extend .btn;
    @extend .btn_normal;
    font-size: 16px;
    margin-left: auto;
    width: 200px;
    line-height: 2.5;
}
.profile__content {
    @extend .profile__font;
    margin-top: 10px;
}
.profile__posts-wapper { margin-top: 20px; }
.profile__icon-wapper {
    position: relative;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}
.profile__icon-img {
    border-radius: 50%;
    box-shadow:  5px 5px 10px #5f5f5f,
    -5px -5px 10px #ffffff;
    display: block;
    position: relative;
    width: 100px;
    height: 100px;
}
.profile__icon-change {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 50%;
    position: absolute;
    top: 0;
    transition: .3s;
    left: 0;
    opacity: 0;
    width: 100px;
    height: 100px;
    &:hover {
        opacity: 1;
        cursor: pointer;
    }
}
.profile__icon-change__text {
    color: white;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    left: 50%;
}
/*
=====================
 スマホ レスポンシブ
=====================
*/
@media screen and (max-width: 414px) {
    .profile__icon-wapper,
    .profile__icon-img,
    .profile__icon-change {
        width: 80px;
        height: 80px;
    }
    .profile__name { font-size: 20px; }
    .profile__other__flex { display: block; }
    .profile__btn {
        font-size: 14px;
        margin: 10px 0 0 0;
        width: auto;
        padding: 0;
    }
}