@charset "UTF-8";
.btn, .profile__btn ***REMOVED***
  border-radius: 5px;
  display: block;
  font-size: 18px;
  text-align: center;
  line-height: 3;
  padding: 0 10px;
  width: 100%; ***REMOVED***
  .btn:hover, .profile__btn:hover ***REMOVED***
    transition: .2s;
    cursor: pointer; ***REMOVED***

.btn_item:hover ***REMOVED***
  background-color: #d1d1d1; ***REMOVED***

.btn_normal, .profile__btn ***REMOVED***
  background-color: #d1d1d1; ***REMOVED***
  .btn_normal:hover, .profile__btn:hover ***REMOVED***
    background-color: #b8b8b8; ***REMOVED***

.btn_success ***REMOVED***
  background-color: #4cdb8f; ***REMOVED***
  .btn_success:hover ***REMOVED***
    background-color: #29cb75; ***REMOVED***

.btn_attention ***REMOVED***
  background-color: #fcd419; ***REMOVED***
  .btn_attention:hover ***REMOVED***
    background-color: #dfb803; ***REMOVED***

.btn_danger ***REMOVED***
  background-color: #f9446a;
  color: white; ***REMOVED***
  .btn_danger:hover ***REMOVED***
    background-color: #f71343; ***REMOVED***

.btn_circle ***REMOVED***
  border-radius: 50%;
  width: 50px;
  height: 50px; ***REMOVED***

.profile__flex,
.profile__other__flex ***REMOVED***
  align-items: center;
  display: flex; ***REMOVED***

.profile__font, .profile__user-name, .profile__content ***REMOVED***
  color: #797979;
  margin-top: 5px; ***REMOVED***

.profile__name ***REMOVED***
  font-size: 24px;
  font-weight: bold; ***REMOVED***

.profile__btn ***REMOVED***
  font-size: 16px;
  margin-left: auto;
  width: 200px;
  line-height: 2.5; ***REMOVED***

.profile__content ***REMOVED***
  margin-top: 10px; ***REMOVED***

.profile__posts-wapper ***REMOVED***
  margin-top: 20px; ***REMOVED***

.profile__icon-wapper ***REMOVED***
  position: relative;
  width: 100px;
  height: 100px;
  margin-right: 20px; ***REMOVED***

.profile__icon-img ***REMOVED***
  border-radius: 50%;
  box-shadow: 5px 5px 10px #5f5f5f, -5px -5px 10px #ffffff;
  display: block;
  position: relative;
  width: 100px;
  height: 100px; ***REMOVED***

.profile__icon-change ***REMOVED***
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  position: absolute;
  top: 0;
  transition: .3s;
  left: 0;
  opacity: 0;
  width: 100px;
  height: 100px; ***REMOVED***
  .profile__icon-change:hover ***REMOVED***
    opacity: 1;
    cursor: pointer; ***REMOVED***

.profile__icon-change__text ***REMOVED***
  color: white;
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  left: 50%; ***REMOVED***

/*
=====================
 スマホ レスポンシブ
=====================
*/
@media screen and (max-width: 414px) ***REMOVED***
  .profile__icon-wapper,
  .profile__icon-img,
  .profile__icon-change ***REMOVED***
    width: 80px;
    height: 80px; ***REMOVED***

  .profile__name ***REMOVED***
    font-size: 20px; ***REMOVED***

  .profile__other__flex ***REMOVED***
    display: block; ***REMOVED***

  .profile__btn ***REMOVED***
    font-size: 14px;
    margin: 10px 0 0 0;
    width: auto;
    padding: 0; ***REMOVED*** ***REMOVED***

/*# sourceMappingURL=profile.css.map */
